<% if @ward_data.present? %>
  <%= react_component("Container", { ward: @ward_data }) %>
<% end %>
<br>
<div class="container-fluid">
  <div class="row d-flex justify-content-around">
      <% @events.each do |event| %>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card bg-light" style="width: 22rem;">
            <div class="card-body">
              <h5 class="card-title"><%= event.name %></h5>
              <h6 class="card-subtitle mb-3 ">
                <%= event_time(event) %>
              </h6>
            </div>
            <div class="card-footer justify-content-between align-items-center d-flex">
              <%= event.organisation %>
              <a href="<%= event.website %>" class="card-link btn btn-primary" target="_blank">More Details</a>
            </div>

          </div>
        </div>
      <% end %>
  </div>
  <br>
  <div class="row ">
    <div class="col-sm-12 col-md-4 ">
      <h2>News</h2>
      <ul>
        <% @posts.each do |post| %>
          <li> <%= link_to post.title, post %> </li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4  ">
      <div class="d-flex justify-content-center">
        <div id="fb-root"></div>
        <div class="fb-page" data-href="https://www.facebook.com/CommunityTracksInverclyde/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false" data-height="340">
          <blockquote cite="https://www.facebook.com/CommunityTracksInverclyde/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/CommunityTracksInverclyde/" target='_top'>Community Tracks Inverclyde</a>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 ">
          <a class="twitter-timeline" data-height="380" href="https://twitter.com/CTInverclyde?ref_src=twsrc%5Etfw">Tweets by CTInverclyde</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
